
@{
    ViewBag.Title = "Thanks";
}

<span class="centeredHeader contactTitle">Thanks!</span>
<div class="smallSpace">&nbsp;</div>
<p>Thanks for contacting us! If necessary, someone will reply to you shortly.</p>