@{
  ViewBag.Title = "Home";
}
<div class="homeBannerWrap browserHeight" style="height: 638px;" id="bodyWrap">
  <img src="~/images/hero.jpg" alt="Concrete Construction. Family Owned and Operated Since 1983">
  @*<div class="homeBannerContent">
    <h1>Concrete Construction</h1>
    <p class="homeBannerSubline">Family Owned and Operated Since 1983</p>
    <div class="clear">&nbsp;</div>
  </div>*@
</div>