@model IMCMS.Models.Entities.EmployeePortalPage
@{
    ViewBag.Title = "Employee Portal - " + Model.Title;
}

<div class="contentWrap defaultPadding">
    <div class="center">
        @Html.Raw(Model.Content)
    </div>
</div>