@{
    ViewBag.Title = @IMCMS.Common.Configuration.Config.ConfigurationSection.Customer.Name + " Website Admin";
    Layout = "~/Areas/Admin/Views/Shared/Account.cshtml";
}
    <h2>ChangePasswordComplete</h2>
