@{
    ViewBag.Title = @IMCMS.Common.Configuration.Config.ConfigurationSection.Customer.Name + " Website Admin";
    Layout = "~/Areas/Admin/Views/Shared/Account.cshtml";
}
    <p>The user has been created. Ensure the username and password are documented.</p>
