@model IMCMS.Web.Areas.Admin.Views.Account.ForgotPasswordModel
@{
  ViewBag.Title = @IMCMS.Common.Configuration.Config.ConfigurationSection.Customer.Name + " Website Admin";
  Layout = "~/Areas/Admin/Views/Shared/Account.cshtml";
}
<p class="adminAccountPageTitle">Forgot Password</p>
<div class="medSpace">&nbsp;</div>
<div class="form">
    @Html.ValidationSummary()
  <div class="adminAccountInput adminAccountInputIcon aaiEmail">
    <input type="text" name="EmailAddress" placeholder="email address" autofocus />
  </div>
  <button class="adminAccountSubmit" type="submit">Submit</button>
  <a class="forgotPassword" href="@Url.Action("Login")">Back to Login Form</a>
</div>