@{
    ViewBag.Title = @IMCMS.Common.Configuration.Config.ConfigurationSection.Customer.Name + " Website Admin";
    Layout = "~/Areas/Admin/Views/Shared/Account.cshtml";
}
    <p>In the next couple of minutes, you should receive an email with a link to reset your password.</p>
    <p>If you do not, please contact Imagemakers (<a href="http://www.imagemakers-inc.com/contact/" target="_blank">http://www.imagemakers-inc.com/contact/</a>)</p>
