@{
    ViewBag.Title = @IMCMS.Common.Configuration.Config.ConfigurationSection.Customer.Name + " Website Admin";
    Layout = "~/Areas/Admin/Views/Shared/Account.cshtml";
}
<p>This is the initialization of the user system for this website. This can only be run once.</p>
<p><input type="submit" value="Initalize" /></p>