@{
    ViewBag.Title = @IMCMS.Common.Configuration.Config.ConfigurationSection.Customer.Name + " Website Admin";
    Layout = "~/Areas/Admin/Views/Shared/Account.cshtml";
}
    <div class="form">
        @Html.ValidationSummary()
        <div class="adminAccountInput adminAccountInputIcon aaiPwd">
            <input type="password" id="password-input" placeholder="new password" />
        </div>
    <div class="adminAccountInput adminAccountInputIcon aaiPwd">
        <input type="password" id="confirm-password-input" placeholder="confirm password" />
    </div>
    <input type="hidden" name="NewPassword" id="password" />
    <input type="hidden" name="ConfirmPassword" id="confirm-password" />
    <button class="adminAccountSubmit" type="submit">Reset</button>
        </div>
    <noscript>
        <h2>Javascript Required</h2>
        <p>Javascript is required to use the administration area. Please visit <a href="http://www.enable-javascript.com/">http://enable-javascript.com/</a> to see how to enable javascript in your browser.</p>
    </noscript>
