@{
  ViewBag.Title = "Detail - Services";
}
<div class="section-structural services">
  <div class="center-wrap">
    <div class="center">
      <h1 class="box-title">Concrete Pumping</h1>
      <div class="content big">
        <p>We’ve been placing and pumping concrete across Kansas for more than 30 years — from foundations to football stadiums, homes to hotels. Our state-of-the-art fleet includes truck booms that reach to 151 feet and specialty trailers and machines that allow our ACPA certified operators to place concrete into even the hardest-to-reach places.</p>
      </div>
      <div class="our-fleet">
        <h2 class="slider-title">Our Fleet</h2>
        <ul class="fleet-list">
          <li>
            <div class="fleet-wrap">
              <div class="fleet-table-box">
                <h3 class="table-title">Putzmeister 47Z-Meter (2 Trucks)</h3>
                <ul class="fleet-table-list">
                  <li>
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Boom Reach</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Vertical</td>
                          <td>151’ 3”</td>
                        </tr>
                        <tr>
                          <td>Horizontal</td>
                          <td>138’ 1”</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>

                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Outrigger Spread</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Front</td>
                          <td>26’ 1”</td>
                        </tr>
                        <tr>
                          <td>Rear</td>
                          <td>29’ 9”</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Truck Dimensions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Length</td>
                          <td>42’ 11”</td>
                        </tr>
                        <tr>
                          <td>Width</td>
                          <td>8’ 2”</td>
                        </tr>
                        <tr>
                          <td>Height</td>
                          <td>12’ 10”</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>77,385 lb</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </div>
              <div class="fleet-box">
                <div class="fleet-img-wrap">
                  <img src="~/images/putzmeister.jpg" alt="">
                </div>
                <div class="content">
                  <p>Our five-section Z-Fold boom truck allows exceptional reach while maneuvering in, over and around obstacles for efficient concrete placement in difficult to reach places.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="fleet-wrap">
              <div class="fleet-table-box">
                <h3 class="table-title">Putzmeister 38Z-Meter (2 Trucks)</h3>
                <ul class="fleet-table-list">
                  <li>
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Boom Reach</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Vertical</td>
                          <td>121’ 9”</td>
                        </tr>
                        <tr>
                          <td>Horizontal</td>
                          <td>108’ 7”</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Outrigger Spread</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Front</td>
                          <td>20’ 7”</td>
                        </tr>
                        <tr>
                          <td>Rear</td>
                          <td>21’ 8”</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Truck Dimensions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Length</td>
                          <td>39’ 3”</td>
                        </tr>
                        <tr>
                          <td>Width</td>
                          <td>8’ 2”</td>
                        </tr>
                        <tr>
                          <td>Height</td>
                          <td>12’ 11”</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>56,800 lb</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </div>
              <div class="fleet-box">
                <div class="fleet-img-wrap">
                  <img src="~/images/putzmeister.jpg" alt="">
                </div>
                <div class="content">
                  <p>Specially engineered to extend the pumping season, this truck has a 3-axle, frost-law-compliant setup and compact outriggers for fit just right for tight locations.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="fleet-wrap">
              <div class="fleet-table-box">
                <h3 class="table-title">Putzmeister 36Z-Meter (2 Trucks)</h3>
                <ul class="fleet-table-list">
                  <li>
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Boom Reach</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Vertical</td>
                          <td>116’ 10”</td>
                        </tr>
                        <tr>
                          <td>Horizontal</td>
                          <td>103’ 0”</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Outrigger Spread</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Front</td>
                          <td>18’  1”</td>
                        </tr>
                        <tr>
                          <td>Rear</td>
                          <td>23’ 0”</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2">Truck Dimensions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Length</td>
                          <td>36’ 5”</td>
                        </tr>
                        <tr>
                          <td>Width</td>
                          <td>8’ 2”</td>
                        </tr>
                        <tr>
                          <td>Height</td>
                          <td>12’ 9”</td>
                        </tr>
                        <tr>
                          <td>Weight</td>
                          <td>52,130 lb</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </div>
              <div class="fleet-box">
                <div class="fleet-img-wrap">
                  <img src="~/images/putzmeister.jpg" alt="">
                </div>
                <div class="content">
                  <p>Specially engineered to extend the pumping season, this truck has a 3-axle, frost-law-compliant setup and compact outriggers for fit just right for tight locations.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis justo in leo dignissim pellentesque. Aliquam erat volutpat. Praesent vulputate leo et diam tristique facilisis. Proin purus sapien, tincidunt ac mattis vitae, laoreet sit amet tortor. Nam tempor, dui vitae ultrices placerat, enim purus laoreet tellus, eget fringilla leo nisi eu enim. Nullam non faucibus nunc. Vivamus justo erat, ullamcorper vel ex eget, dignissim vehicula nunc.</p>
        <ul>
          <li><strong>some bullet points about benefits</strong></li>
          <li><strong>something about benefits <br />showing wrapping line-height</strong></li>
          <li><strong>some bullet points about the job would go here</strong></li>
        </ul>
      </div>
      <div class="slider-box">
        <h2 class="slider-title">In Action</h2>
        <div class="slider-popup">
          <div class="slider-popup-wrap">
            <div class="swiper-container s-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="~/images/slide.jpg" alt=""></div>
                <div class="swiper-slide"><img src="http://via.placeholder.com/1180x634" alt=""></div>
                <div class="swiper-slide"><img src="~/images/slide.jpg" alt=""></div>
                <div class="swiper-slide"><img src="http://via.placeholder.com/1180x634" alt=""></div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="close-swiper prevent"></div>
            </div>
          </div>
          <div class="slider-overlay"></div>
        </div>
      </div>
    </div>
    <div class="btn-estimate-box b-fixed">
      <a href="/broken" class="btn">Get an estimate</a>
    </div>
  </div>
</div>