@{
  ViewBag.Title = "Structural Foundations - Services";
}
<div class="section-structural">
  <div class="center-wrap">
    <div class="center">
      <h1 class="box-title">Structural Foundations</h1>
      <div class="content big">
        <p>We’ve been pouring foundations across Kansas since our first residential project in 1983. As technology and training has advanced, we’ve incorporated cutting-edge technology and methods into our work to improve precision and efficiency. Today, we serve commercial, industrial and residential clients and proudly pour the strongest, most enduring foundations in the state.</p>
      </div>
      <div class="info-wrap">
        <div class="info-box">
          <h3 class="info-title">On Time, On Budget</h3>
          <div class="content">
            <p>In a field plagued by missed deadlines, we stand apart:</p>
            <ul>
              <li>Our work is on time and on budge</li>
              <li>We communicate clearly, our planning is meticulous</li>
              <li>Our award-winning work stands the test of time</li>
            </ul>
          </div>
        </div>
        <div class="info-box">
          <h3 class="info-title">On Time, On Budget</h3>
          <div class="content">
            <p>In a field plagued by missed deadlines, we stand apart:</p>
            <ul>
              <li>Our work is on time and on budget</li>
              <li>We communicate clearly, our planning is meticulous</li>
              <li>Our award-winning work stands the test of time</li>
            </ul>
          </div>
        </div>
        <div class="info-box">
          <h3 class="info-title">On Time, On Budget</h3>
          <div class="content">
            <p>In a field plagued by missed deadlines, we stand apart:</p>
            <ul>
              <li>Our work is on time and on budge</li>
              <li>We communicate clearly, our planning is meticulous</li>
              <li>Our award-winning work stands the test of time</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content">
        <h2>Tailored Approach, Proven Process</h2>
        <p>We collaborate with engineers to review site drawings and the required concrete’s compressive strength. We turn drawings into on-site layouts using cutting-edge robotic Total Stations. Once all excavation lines are confirmed, we dig footings and walls, place rebar reinforcements, and pour the perfect concrete mix for a stable, durable foundation.</p>
        <p>Full-Service Foundations with No Subcontractors. <br /><strong>We provide full-service foundation work and never use subcontractors.</strong> <br />From mapping the structure to digging and pouring, we cover all aspects of the foundation process. Our teams are second to none, and are led by ACI Certified foundation technicians who ensure our teams follow precise guidelines and adhere to industry best practices.</p>
      </div>
      <div class="slider-box">
        <h2 class="slider-title">In Action</h2>
        <div class="slider-popup">
          <div class="slider-popup-wrap">
            <!-- Swiper -->
            <div class="swiper-container s-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="~/images/slide.jpg" alt=""></div>
                <div class="swiper-slide"><img src="http://via.placeholder.com/1180x634" alt=""></div>
                <div class="swiper-slide"><img src="~/images/slide.jpg" alt=""></div>
                <div class="swiper-slide"><img src="http://via.placeholder.com/1180x634" alt=""></div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <!-- Close Arrows -->
              <div class="close-swiper prevent"></div>
            </div>
          </div>
          <div class="slider-overlay"></div>
        </div>
      </div>
    </div>
    <div class="btn-estimate-box b-fixed">
      <a href="service-detail.html" class="btn">Get an estimate</a>
    </div>
  </div>
</div>