@{
    ViewBag.Title = "Server Error";
}


<h1>It appears something went wrong.</h1>
<p>&nbsp;</p>
<p>Don't worry. We have taken note of the error and will fix it as soon as possible. Please try again later.</p>
<p>&nbsp;</p>
<p>Need immediate assistance? <a href="/contact">Contact us</a>. We would be happy to help!</p>