@{
  ViewBag.Title = "Employee Portal";
}
<div class="section-page-title" id="bodyWrap" style="background-image: url(/images/emp_bg.jpg)">
  <div class="center">
    <div class="center-box">
      <h1 class="page-title">employee portal</h1>
    </div>
  </div>
  <div class="bottom"></div>
</div>

<div class="section-welcome">
  <div class="center">
    <div class="left-box">
      <h2 class="section-title">Welcome</h2>
      <div class="content">
        <p>consectetur adipiscing elit. Nunc hendrerit gravida dolor eu feugiat. Maecenas id hendrerit tellus, a molestie lacus. Integer vel turpis convallis, tincidunt metus nec, molestie ligula. Proin neque nisl, mollis quis porttitor non, <strong>porttitor eu urna.</strong> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce condimentum a erat eget pharetra. Etiam non tempus turpis.</p>
      </div>
    </div>
    <div class="right-box">
      <div class="link-box">
        <h3 class="link-box-title">Manage benefits</h3>
        <ul>
          <li><a href="/broken">Blue Cross Blue Shield Enrollment Form</a></li>
          <li><a href="/broken">Blue Cross Blue Shield Change of Address Form</a></li>
          <li><a href="/broken">Life Insurance Enrollment Form</a></li>
        </ul>
      </div>
      <div class="link-box">
        <h3 class="link-box-title">Other links</h3>
        <ul>
          <li><a href="/broken">Request Time Off</a></li>
          <li><a href="/broken">Accident Report Form</a></li>
          <li><a href="/broken">Incident Report Form</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>