@{
  ViewBag.Title = "Projects";
}
<div class="section-projects">
  <ul class="project-list">
    <li>
      <a href="/broken">
        <img src="~/images/project-img.png" alt="FHLB Bank Photo">
        <span class="project-wrap">
          <span class="project-view-title">View FHLB Bank</span>
        </span>
        <span class="project-box">
          <span class="project-cell">
            <span class="project-title">FHLB BANK</span> <span class="location">Topeka, Kansas</span>
            <span class="project-desc">Probably should caption this with some details about the project</span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="/broken">
        <img src="~/images/project-img.png" alt="FHLB Bank Photo">
        <span class="project-wrap">
          <span class="project-view-title">View FHLB BANK</span>
        </span>
        <span class="project-box">
          <span class="project-cell">
            <span class="project-title">FHLB BANK</span> <span class="location">Topeka, Kansas</span>
            <span class="project-desc">Probably should caption this with some details about the project</span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="/broken">
        <img src="~/images/project-img.png" alt="FHLB Bank Photo">
        <span class="project-wrap">
          <span class="project-view-title">View FHLB BANK</span>
        </span>
        <span class="project-box">
          <span class="project-cell">
            <span class="project-title">FHLB BANK</span> <span class="location">Topeka, Kansas</span>
            <span class="project-desc">Probably should caption this with some details about the project</span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="/broken">
        <img src="~/images/project-img.png" alt="FHLB Bank Photo">
        <span class="project-wrap">
          <span class="project-view-title">View FHLB BANK</span>
        </span>
        <span class="project-box">
          <span class="project-cell">
            <span class="project-title">FHLB BANK</span> <span class="location">Topeka, Kansas</span>
            <span class="project-desc">Probably should caption this with some details about the project</span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="/broken">
        <img src="~/images/project-img.png" alt="">
        <span class="project-wrap">
          <span class="project-view-title">VIEW FHLB BANK</span>
        </span>
        <span class="project-box">
          <span class="project-cell">
            <span class="project-title">FHLB BANK</span> <span class="location">Topeka, Kansas</span>
            <span class="project-desc">Probably should caption this with some details about the project</span>
          </span>
        </span>
      </a>
    </li>
  </ul>
</div>